{# https://jinja.palletsprojects.com/en/3.0.x/templates/#base-template #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ request.app.url_path_for('static', path='/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ request.app.url_path_for('static', path='/css/pure.min.css') }}" rel="stylesheet">
    <link href="{{ request.app.url_path_for('static', path='/css/grids-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ request.app.url_path_for('static', path='/css/cssui.min.css') }}" rel="stylesheet">
    <link href="{{ request.app.url_path_for('static', path='/css/font.css') }}" rel="stylesheet">
    <link href="{{ request.app.url_path_for('static', path='/css/gitbi.css') }}" rel="stylesheet">
    <script src="{{ request.app.url_path_for('static', path='/js/htmx.min.js') }}"></script>
    <script src="{{ request.app.url_path_for('static', path='/js/htmx-response-targets.min.js') }}"></script>
    <script src="{{ request.app.url_path_for('static', path='/js/simple-datatables.min.js') }}"></script>
    <script type="text/javascript">
      {% include 'js/table.js' %}
    </script>
    <script type="text/javascript">
      {% include 'js/dashboard_creation.js' %}
    </script>
    {% block extendhead %}{% endblock %}
    <title>Gitbi | {% block title %}{% endblock %}</title>
</head>
<body hx-ext="response-targets">
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-4 col sidebar">
    <div class="pure-g">
      <div class="container">
        <h1><a href="{{ request.app.url_path_for('home_default_route') }}">GITBI</a></h1>
        {% if user is not none %}
        <p>User: {{ user|e }}</p>
        {% endif %}  
        {% if state is not none %}
        <p>State: {{ state|e }}</p>
        {% endif %}
        <a href="{{ request.app.url_path_for('commits_route') }}">Show commits</a>
      </div>
    </div>
    <div class="pure-g">
      <div id="resources-list"></div>
      <a
          class="hidden"
          hx-get="{{ request.app.url_path_for('resources_route', state=state) }}"
          hx-trigger="load"
          hx-target="#resources-list"
          hx-target-error="#htmx-error"
          hx-swap="outerHTML"
      >
          Load resources
      </a>
    </div>
    <div class="pure-g">
      <footer class="container footer">
        <hr>
        <small>
            <p><a target="_blank" href="https://github.com/ppatrzyk/gitbi">Gitbi</a> v{{ version }}.</p>
        </small>
      </footer>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-3-4 col">
    <div class="pure-g">
      <div id="htmx-error"></div>
    </div>
    <div class="pure-g">
      <main class="container">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
</div>
</body>
</html>
