{# https://jinja.palletsprojects.com/en/3.0.x/templates/#base-template #}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ request.app.url_path_for('static', path='/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ request.app.url_path_for('static', path='/css/pico.min.css') }}" rel="stylesheet">
    <link href="{{ request.app.url_path_for('static', path='/css/font.css') }}" rel="stylesheet">
    <link href="{{ request.app.url_path_for('static', path='/css/gitbi.css') }}" rel="stylesheet">
    <script src="{{ request.app.url_path_for('static', path='/js/htmx.min.js') }}"></script>
    <script src="{{ request.app.url_path_for('static', path='/js/simple-datatables.7.1.2.js') }}"></script>
    <script type="text/javascript">
      {% include 'js/table.js' %}
    </script>
    <script type="text/javascript">
      {% include 'js/error_msg.js' %}
    </script>
    {% block extendhead %}{% endblock %}
    <title>Gitbi | {% block title %}{% endblock %}</title>
</head>
<body>
<main class="container">
    <nav>
        <ul>
          <li><a class="gitbi-logo" href="{{ request.app.url_path_for('home_default_route') }}">Gitbi</a></li>
        </ul>
        <ul>
          {% if state is not none %}
          <li>State: {{ state|e }}</li>
          {% endif %}
          {% if user is not none %}
          <li>User: {{ user|e }}</li>
          {% endif %}
          <li><a role="button" class="small-button" href="#" hx-get="{{ request.app.url_path_for('commits_route') }}" hx-trigger="click" hx-target="#commits-section" hx-swap="outerHTML">
          Show commits
          </a></li>
        </ul>
      </nav>
      <div id="commits-section"></div>
      {% block content %}{% endblock %}
      <footer class="container footer">
        <hr>
        <small>
            <p><a target="_blank" href="https://github.com/ppatrzyk/gitbi">Gitbi</a> v{{ version }}.</p>
        </small>
    </footer>
</main>
</body>
</html>
