{% extends "base.html" %}
{% block title %}{{ db|e }}{% endblock %}
{% block header %}
    {% if state is not none %}
    <li>{{ state }}</li>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Details of db: {{ db|e }}</h2>
    <details open>
        <summary>Tables</summary>
        <ul>
            {% for table in tables %}
            <li><a href="{{ request.app.url_path_for('query_route', db=db) }}?query=select * from {{ table }} limit 10;">{{ table|e }}</a></li>
            {% endfor %}
        </ul>
    </details>
    <details open>
        <summary>Saved Queries</summary>
        <ul>
            {% for file in queries %}
            <li><a href="{{ request.app.url_path_for('saved_query_route', state=state, db=db, file=file) }}">{{ file|e }}</a></li>
            {% endfor %}
        </ul>
    </details>
{% endblock %}
