{# partial html - this is used by htmx passing tables list #}
<details id="db-details-{{ db }}">
    <summary>Tables in {{ db|e }}</summary>
    {% if tables_toc %}
    <h4>TOC</h4>
    <ol>
        {% for table in tables %}
        <li><a href="#header-types-{{ table|e }}">{{ table|e }}</a></li>
        {% endfor %}
    </ol>
    {% endif %}

    {% for table in tables %}
    <h4 id="header-types-{{ table|e }}">{{ table|e }}</h4>
    <a role="button" href="{{ request.app.url_path_for('query_route', db=db) }}?query=select * from {{ table }} limit 10;">Query {{ table|e }}</a>
    <figure>{{ data_types[table] }}</figure>
    {% endfor %}
</details>
