{% if report_url is not none %}
<details class="nested-details">
    <summary class="secondary" role="button">Show report and alerts config</summary>
    <a role="button" class="small-button" target="_blank" href="{{ report_url|e }}">See report here</a>
    <label for="cron-mail">Sample CRON configuration (email configured in Gitbi)</label>
    <figure id="cron-mail"><pre><code>
 # alert
 * * * * * curl -s {% if user is not none %}-u USER:PASSWORD{% endif %} {{ email_alert_url|e }}?to=RECIPIENT_EMAIL

 #report
 * * * * * curl -s {% if user is not none %}-u USER:PASSWORD{% endif %} {{ email_report_url|e }}?to=RECIPIENT_EMAIL
    </code></pre></figure>
    <label for="cron-mail">Sample CRON configuration (no email configured in Gitbi)</label>
    <figure id="cron-mail"><pre><code>
 # sendmail
 * * * * * echo -e "Subject: Gitbi report: {{ file }}\nContent-Type: text/html\n\n$(curl -s {% if user is not none %}-u USER:PASSWORD{% endif %} {{ report_url|e }})" | /usr/sbin/sendmail -f SENDER_EMAIL RECIPIENT_EMAIL

 # mailgun api
 * * * * * curl -X POST --user "api:MAILGUN_API_KEY" --data-urlencode from=SENDER_EMAIL --data-urlencode to=RECIPIENT_EMAIL --data-urlencode subject="Gitbi report: {{ file }}" --data-urlencode html="$(curl -s {% if user is not none %}-u USER:PASSWORD{% endif %} {{ report_url|e }})" https://api.eu.mailgun.net/v3/SENDER_DOMAIN/messages
    </code></pre></figure>
</details>
{% endif %}
