{% extends "base.html" %}
{% block extendhead %}
    <link href="{{ request.app.url_path_for('static', path='/css/github.min.css') }}" rel="stylesheet">
    <script src="{{ request.app.url_path_for('static', path='/js/echarts.min.js') }}"></script>
    <script type="module">
        {% include 'js/code_editor.js' %}
    </script>
    <script type="text/javascript">
        {% include 'js/viz.js' %}
        {% include 'js/viz_control.js' %}
    </script>
{% endblock %}
{% block title %}Query | {{ file }}{% endblock %}
{% block content %}
    <h2>Query db: {{ db|e }}</h2>
    <h4>Query</h4>
    <figure>
        <label for="query-editor">Query</label>
        <div id="query-editor" class="code-editor language-sql">{{ query }}</div>
    </figure>
    <div>
        <label for="file-name">Query file name</label>
        <input type="text" id="file-name" name="file-name" placeholder="Enter file name" value="{{ file }}">
        <small>Query name must have <em>.sql</em> or <em>.prql</em> extension</small>
    </div>
    <div class="grid">
        <div
            role="button"
            hx-post="{{ request.app.url_path_for('execute_route', db=db) }}"
            hx-vals="js:{data: query_format()}"
            hx-trigger="click"
            hx-target="#query-result"
            hx-swap="innerHTML"
        >
            Run
        </div>
        <div
            role="button"
            class="secondary"
            hx-post="{{ request.app.url_path_for('query_save_route', db=db) }}"
            hx-vals="js:{data: query_format()}"
            hx-trigger="click"
            hx-target="#save-error"
            hx-swap="innerHTML"
        >
            Save query
        </div>
        {% if file != "" %}
        <div
            role="button"
            class="secondary"
            hx-get="{{ request.app.url_path_for('query_delete_route', db=db, file=file) }}"
            hx-trigger="click"
            hx-target="#save-error"
            hx-swap="innerHTML"
        >
            Delete query
        </div>
        {% endif %}
        <div
            role="button"
            class="secondary"
            onclick="generate_link()"
        >
            Generate share link
        </div>
    </div>
    <div id="save-error"></div>
    <br>
    <div>
        <h4>Result</h4>
        <details open>
            <summary role="button">Table</summary>
            <div id="query-result">
                <p>No data available</p>
                <p class="htmx-indicator" aria-busy="true">Running query...</p>
            </div>
        </details>
        <details open>
            <summary role="button">Visualization</summary>
            <div id="echart-note">No data available</div>
            <div id="echart-chart" class="hidden">
                <div id="echart-options" class="grid">
                    <label for="echart-options-type">
                        Chart type
                        <select id="echart-options-type">
                            <option value="scatter">Scatter</option>
                            <option value="line" selected>Line</option>
                            <option value="bar">Bar</option>
                            <option value="heatmap">Heatmap</option>
                        </select>
                    </label>
                    <label for="echart-options-xaxis">X axis<select id="echart-options-xaxis"></select></label>
                    <label for="echart-options-yaxis">Y axis<select id="echart-options-yaxis"></select></label>
                    <label for="echart-options-zaxis">Z axis<select id="echart-options-zaxis"></select></label>
                    <label for="echart-options-group">Group<select id="echart-options-group"></select></label>
                </div>
                <button id="echart-render" class="secondary" onclick="make_viz()">Render chart</button>
                <div id="{{ echart_id }}"></div>
                <script type="text/javascript">
                    var chart_options = {{ viz }};
                    var chart_el = document.getElementById('{{ echart_id }}');
                    chart_el.addEventListener("newdata", (e) => {
                        current_data = e.detail.data;
                        update_chart_options();
                        make_viz();
                    });
                </script>
            </div>
        </details>
    </div>
    <div id="db-details-{{ db }}"></div>
    <a
        class="hidden"
        hx-get="{{ request.app.url_path_for('db_details_route', db=db) }}"
        hx-trigger="load"
        hx-target="#db-details-{{ db }}"
        hx-swap="outerHTML"
    >
        Load table info
    </a>
    {% include 'partial_report_cron.html' %}
{% endblock %}
