{% extends "base.html" %}
{% block extendhead %}
    <link href="{{ request.app.url_path_for('static', path='/css/github.min.css') }}" rel="stylesheet">
    <script src="{{ request.app.url_path_for('static', path='/js/echarts.min.js') }}"></script>
    <script type="module">
        {% include 'js/code_editor.js' %}
    </script>
    <script type="text/javascript">
        {% include 'js/viz.js' %}
        {% include 'js/viz_control.js' %}
    </script>
{% endblock %}
{% block title %}Query | {{ file }}{% endblock %}
{% block content %}
    <h1>Query db: {{ db|e }}</h1>
    {% if report_url is not none %}
    <div>
        Go to report:
        <a href="{{ report_url.html|e }}">html</a> | 
        <a href="{{ report_url.text|e }}">text</a> | 
        <a href="{{ report_url.csv|e }}">csv</a> | 
        <a href="{{ report_url.json|e }}">json</a>
    </div>
    {% endif %}
    <label for="query-editor">Query</label>
    <div id="query-editor" class="code-editor language-sql">{{ query }}</div>
    <form class="pure-form pure-form-stacked">
        <div>
            <label for="file-name">Query file name</label>
            <input type="text" id="file-name" name="file-name" placeholder="Enter file name" value="{{ file }}">
            <small>Query name must have <em>.sql</em> or <em>.prql</em> extension</small>
        </div>
        <div>
            <label for="result-format">Result format</label>
            <select id="result-format" required>
                <option value="interactive-table" selected>Interactive table</option>
                <option value="simple-table">Standard table</option>
                <option value="text">ASCII table</option>
                <option value="csv">CSV</option>
                <option value="json">JSON</option>
            </select>
        </div>
    </form>
    <div class="pure-button-group" role="group">
        <div
            class="pure-button"
            hx-post="{{ request.app.url_path_for('execute_route', db=db) }}"
            hx-vals="js:{data: query_format()}"
            hx-trigger="click"
            hx-target="#query-result"
            hx-target-error="#htmx-error"
            hx-swap="innerHTML"
        >
            Run
        </div>
        <div
            class="pure-button"
            hx-post="{{ request.app.url_path_for('query_save_route', db=db) }}"
            hx-vals="js:{data: query_format()}"
            hx-trigger="click"
            hx-target-error="#htmx-error"
            hx-swap="innerHTML"
        >
            Save query
        </div>
        <div
            class="pure-button"
            onclick="generate_link()"
        >
            Generate share link
        </div>
        {% if report_url is not none %}
        <div
            class="pure-button"
            hx-get="{{ request.app.url_path_for('query_delete_route', db=db, file=file) }}"
            hx-trigger="click"
            hx-target-error="#htmx-error"
            hx-swap="innerHTML"
        >
            Delete query
        </div>
        {% endif %}
    </div>
    <br>
    <div>
        <h2>Result</h2>
        <div id="query-result">
            <p>No data available</p>
            <p class="htmx-indicator" aria-busy="true">Running query...</p>
        </div>
        <h2 >Visualization</h2>
        <div id="echart-note">No data available</div>
        <div id="echart-chart" class="hidden">
            <form id="echart-options" class="pure-form pure-form-stacked">
                <label for="echart-options-type">
                    Chart type
                    <select id="echart-options-type">
                        <option value="scatter">Scatter</option>
                        <option value="line" selected>Line</option>
                        <option value="bar">Bar</option>
                        <option value="heatmap">Heatmap</option>
                    </select>
                </label>
                <label for="echart-options-xaxis">X axis<select id="echart-options-xaxis"></select></label>
                <label for="echart-options-yaxis">Y axis<select id="echart-options-yaxis"></select></label>
                <label for="echart-options-zaxis">Z axis<select id="echart-options-zaxis"></select></label>
                <label for="echart-options-group">Group<select id="echart-options-group"></select></label>
                <button id="echart-render" class="pure-button" onclick="make_viz()">Render chart</button>
            </form>
            <div id="{{ echart_id }}"></div>
            <script type="text/javascript">
                var chart_options = {{ viz }};
                var chart_el = document.getElementById('{{ echart_id }}');
                chart_el.addEventListener("newdata", (e) => {
                    current_data = e.detail.data;
                    update_chart_options();
                    make_viz();
                });
            </script>
        </div>
    </div>
    {% if report_url is not none %}
    <div>
        <h2>Alert configs</h2>
        <label for="cron-mail">CRON configuration example (email configured in Gitbi)</label>
        <pre id="cron-mail"><code>
# alert
* * * * * curl -s {% if user is not none %}-u USER:PASSWORD{% endif %} "{{ email_url|e }}?type=alert&to=RECIPIENT_EMAIL"

#report
* * * * * curl -s {% if user is not none %}-u USER:PASSWORD{% endif %} "{{ email_url|e }}?type=report&to=RECIPIENT_EMAIL"
        </code></pre>
    </div>
    {% endif %}
{% endblock %}
