{% extends "base.html" %}
{% block extendhead %}
    <link href="{{ request.app.url_path_for('static', path='/css/github.min.css') }}" rel="stylesheet">
    <script src="{{ request.app.url_path_for('static', path='/js/echarts.min.js') }}"></script>
{% endblock %}
{% block title %}Query{% endblock %}
{% block content %}
    <h2>Query db: {{ db|e }}</h2>
    <div id="db-details-{{ db }}"></div>
    <h4>Query</h4>
    <figure>
        <label for="query-editor">Query</label>
        <div id="query-editor" class="code-editor language-sql">{{ query }}</div>
    </figure>
    <div>
        <label for="file-name">Query file name</label>
        <input type="text" id="file-name" name="file-name" placeholder="Enter file name" value="{{ file }}">
    </div>
    <a
        class="hidden"
        hx-get="{{ request.app.url_path_for('db_details_route', db=db) }}"
        hx-trigger="load"
        hx-target="#db-details-{{ db }}"
        hx-swap="outerHTML"
    >
        Load table info
    </a>
    <div
        role="button"
        hx-post="{{ request.app.url_path_for('execute_route', db=db) }}"
        hx-vals="js:{data: query_format()}"
        hx-trigger="click"
        hx-target="#query-result"
        hx-swap="innerHTML"
    >
        Run
    </div>
    <div
        role="button"
        class="secondary"
        hx-post="{{ request.app.url_path_for('save_route', db=db) }}"
        hx-vals="js:{data: query_format()}"
        hx-trigger="click"
        hx-target="#save-error"
        hx-swap="innerHTML"
    >
        Save query
    </div>
    {% if file != "" %}
    <div
        role="button"
        class="secondary"
        hx-get="{{ request.app.url_path_for('delete_route', db=db, file=file) }}"
        hx-trigger="click"
        hx-target="#save-error"
        hx-swap="innerHTML"
    >
        Delete query
    </div>
    {% endif %}
    <div
        role="button"
        class="secondary"
        onclick="generate_link()"
    >
        Generate share link
    </div>
    <div id="save-error"></div>
    <div>
        <div id="query-result">
            <p class="htmx-indicator" aria-busy="true">Running query...</p>
        </div>
        <details open>
            <summary>Visualization</summary>
            <div id="echart"></div>
        </details>
    </div>
    {% include 'partial_report_cron.html' %}
    <script type="module">
    {% include 'js/make_code_editor.js' %}
    </script>
    <script type="text/javascript">
    {% include 'js/make_viz.js' %}
    </script>
{% endblock %}
