<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>{% include "static/css/pure.min.css" %}</style>
    <style>{% include "static/css/gitbi.css" %}</style>
    <title>Gitbi Report</title>
</head>
<body>
    <main class="container">
        <h1>Gitbi Report</h1>
        <h2>{{ db|e }} | {{ file|e }} | {{ state|e }}</h2>
        <p>
            Returned {{ no_rows|e }} rows in {{ duration|e }}ms<br>
            Executed on {{ time|e }}<br>
        </p>
        {% include 'partial_query_links.html' %}
        <h2>Query</h2>
        <pre class="text-result"><code>{{ query_str }}</code></pre>
        <h2>Result</h2>
        {{ table }}
    </main>
</body>
</html>