<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <style>{% include "static/css/pico.min.css" %}</style>
    <style>{% include "static/css/gitbi.css" %}</style>
    <title>Gitbi Report</title>
</head>
<body>
    <main class="container">
        <hgroup>
            <h2>Gitbi Report</h2>
            <h3>{{ db|e }} | {{ file|e }} | {{ state|e }}</h3>
        </hgroup>
        <p>
            Returned {{ no_rows|e }} rows in {{ duration|e }}ms<br>
            Executed on {{ time|e }}
        </p>
        <details open>
            <summary>Query</summary>
            <figure><pre><code>{{ query }}</code></pre></figure>
        </details>
        <details open>
            <summary>Table</summary>
            <figure>{{ table }}</figure>
        </details>
    </main>
</body>
</html>