<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "static/css/pico.min.css" %}</style>
    <style>{% include "static/css/gitbi.css" %}</style>
    <title>Gitbi Report</title>
</head>
<body>
    <main class="container">
        <hgroup>
            <h2>Gitbi Report</h2>
            <h3>{{ db }} | {{ file }} | {{ state }} <br>{{ time }}</h3>
        </hgroup>
        {% include "result.html" %}
    </main>
</body>
</html>