anyio==4.1.0
APScheduler==4.0.0a4
attrs==23.1.0
certifi==2023.7.22
cffi==1.16.0
click==8.1.7
clickhouse-driver==0.2.6
duckdb==0.9.1
exceptiongroup==1.2.0
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
idna==3.6
iniconfig==2.0.0
Jinja2==3.1.2
Markdown==3.5
MarkupSafe==2.1.3
packaging==23.2
pluggy==1.3.0
prettytable==3.9.0
prql-python==0.10.0
psycopg==3.1.12
psycopg-binary==3.1.12
pycparser==2.21
pygit2==1.13.2
pytest==7.4.3
python-multipart==0.0.6
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
rfc3986==2.0.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
starlette==0.31.1
tenacity==8.2.3
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uvicorn==0.23.2
wcwidth==0.2.9
