:root {
    /* https://meodai.github.io/poline/ */
    --blue0: #f0f4f8;
    --blue1: #cfd8e6;
    --blue2: #a6b4ce;
    --blue3: #657594;
    --black: #101820;
    --error: rgba(255,20,20,0.3);
    --font-size: 18px;
    --font-family: "Ubuntu";
}
body {
    color: var(--black);
    font-size: var(--font-size);
    font-family: var(--font-family);
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
a {
    color: var(--blue3);
    text-decoration: none;
}
a:hover {
    color: var(--black);
}
.pure-button {
    background-color: var(--blue1);
}
.sidebar {
    background-color: var(--blue0);
}
.mylist li::marker {
    content: '\25b8 ';
}
.mylist li {
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}
.mylist {
    padding-left: 1em;
    margin-bottom: 2em;
}
.pure-table {
    margin-bottom: 1em;
}
.pure-table thead {
    background-color: var(--blue1);
}
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: var(--blue0);
}
.container {
    width: 100%;
    margin: 2em;
}
.icon {
    height: var(--font-size);
}
.hidden {
    display: none;
}
.error {
    background: var(--error);
}
.footer {
    text-align: center;
    margin-top: 4rem;
}
.code-editor {
    /* https://github.com/antonmedv/codejar#getting-started */
    margin: 0.25em;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    min-height: 100px;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    tab-size: 4;
}
.datatable-container button {
    background-color: transparent;
    border: none;
}
.datatable-sorter {
    font-weight: bold;
    color: var(--blue3);
}
.datatable-sorter:hover {
    color: var(--black);
}
.datatable-sorter:after {
    content: ' \21c5';
}
.datatable-search {
    margin-bottom: 1em;
}
.datatable-pagination-list {
    padding: 0;
}
.datatable-pagination-list-item {
    display: inline;
    padding: 0.5em;
}
.datatable-pagination-list-item:hover {
    background-color: var(--blue0);
}
.datatable-pagination-list-item.datatable-active {
    background-color: var(--blue1);
}