[data-theme="light"],
:root:not([data-theme="dark"]) {
    /* https://github.com/picocss/pico/blob/master/css/themes/default.css#L200 */
    /* https://meodai.github.io/poline/ */
    --color: #1a1925;
    --primary: #49599a;
    --secondary: #8194d2;
    --primary-hover: #323858;
    --secondary-hover: #323858;
    --font-family: "Ubuntu";
  }
.hidden {
    display: none;
}
.footer {
    text-align: center;
    margin-top: 4rem;
}
.code-editor {
    /* https://github.com/antonmedv/codejar#getting-started */
    margin: 0.5rem;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    min-height: 100px;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    tab-size: 4;
}
.no-margin {
    margin: 0 !important;
}
.nested-details {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    width: 90%;
}
.nested-details summary {
    text-align: center !important;
}
.small-button {
    padding: 5px;
    border-radius: 18px;
}
.gitbi-logo {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 2rem;
}
.icon {
    height: var(--font-size);
}
.datatable-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
