{% extends "base.html" %}
{% block title %}{{ db|e }}{% endblock %}
{% block header %}
    {% if state is not none %}
    <li>{{ state }}</li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>{{ db|e }}</h1>
    <article>
        <header><h3 class="article-head">Queries</h3></header>
        <ul>
            {% for file in queries %}
            <li><a href="{{ url_for('saved_query_route', state=state, db=db, file=file) }}">{{ file|e }}</a></li>
            {% endfor %}
        </ul>
    </article>
    <article>
        <header><h3 class="article-head">Tables</h3></header>
        <ul>
            {% for table in tables %}
            <li><a href="{{ url_for('query_route', db=db) }}?query=select * from {{ table }} limit 10;">{{ table|e }}</a></li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
