{% extends "base.html" %}
{% block title %}{{ db|e }}{% endblock %}
{% block header %}
    {% if state is not none %}
    <li>{{ state }}</li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>{{ db|e }}</h1>
    <h2>Queries</h2>
    <ul>
        {% for file in queries %}
        <li><a href="{{ url_for('saved_query_route', state=state, db=db, file=file) }}">{{ file|e }}</a></li>
        {% endfor %}
    </ul>
    <h2>Tables</h2>
    <ul>
        {% for table in tables %}
        <!-- TODO init query with select all from table -->
        <li><a href="{{ url_for('query_route', db=db) }}?query=select * from {{ table }} limit 10;">{{ table|e }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
