{% extends "base.html" %}
{% block title %}Query{% endblock %}
{% block header %}
    {% if state is not none %}
    <li>{{ state }}</li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if readme is not none %}
    <div>{{ readme }}</div>
    {% else %}
    <h1>Gitbi Home</h1>
    <p>[Readme file is missing]</p>
    {% endif %}
    <article>
        <header><h3 class="article-head">Data Sources</h3></header>
        {% for db, files in databases.items() %}
            <h3><a href="{{ url_for('db_route', state=state, db=db) }}">{{ db|e }}</a></h3>
            <a href="{{ url_for('db_route', state=state, db=db) }}" role="button">List tables and queries</a>
            <a href="{{ url_for('query_route', db=db) }}" role="button">New query</a>
        {% endfor %}
    </article>
    <article>
        <header><h3 class="article-head">Commits</h3></header>
        <figure>
            <table>
                <tr><th>Commit</th><th>Date</th><th>Message</th></tr>
                {% for commit in commits %}
                <tr>
                    <th><a href="{{ url_for('home_route', state=commit.hash) }}">{{ commit.hash|e }}</a></th>
                    <th>{{ commit.date|e }}</th>
                    <th>{{ commit.msg|e }}</th>
                </tr>
                {% endfor %}
            </table>
        </figure>
    </article>
{% endblock %}
