{% extends "base.html" %}
{% block title %}Query{% endblock %}
{% block content %}
    {% if readme is not none %}
    <div>{{ readme }}</div>
    {% else %}
    <h1>Gitbi Home</h1>
    <p>[Readme file is missing]</p>
    {% endif %}
    <h2>Data sources:</h2>
    {% for db, queries in databases.items() %}
        <h3>{{ db|e }}</h3>
        <ul>
        {% for query in queries %}
        <li><a href="{{ url_for('query', db=db, file=query) }}">{{ query|e }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
