{% extends "base.html" %}
{% block title %}Query{% endblock %}
{% block header %}
    {% if state is not none %}
    <li>{{ state }}</li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Query page</h1>
    <h2>Query</h2>
    <form
        hx-post="{{ url_for('execute_route', db=db) }}"
        hx-target="#query-result"
        hx-swap="innerHTML"
    >
        <!-- TODO actual params into grid https://picocss.com/docs/forms.html -->
        <label for="query">
        Query
        <textarea 
            id="query"
            name="query"
            {% if not editable %}
            readonly
            {% endif %}
        >
            {{ query }}
        </textarea>
        </label>
        
        <button type="submit">Trigger</button>
    </form>
    <h2>Result</h2>
    <div id="query-result">
        <p class="htmx-indicator" aria-busy="true">Running query...</p>
    </div>
{% endblock %}
