{% extends "base.html" %}
{% block extendhead %}
    <link href="{{ url_for('static', path='/css/github.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/js/simple-datatables.6.0.7.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vega/vega@5.22.1.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vega/vega-lite@5.6.0.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vega/vega-embed@6.21.0.js') }}"></script>
{% endblock %}
{% block title %}Query{% endblock %}
{% block header %}
    {% if state is not none %}
    <li>{{ state }}</li>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Query db: {{ db }}</h2>
    <details open>
        <summary>Query</summary>
        <figure><div id="query-editor" class="code-editor language-sql">{{ query }}</div></figure>
    </details>
    <details open>
        <summary>Vega</summary>
        <label for="include-vega">
            <input type="checkbox" id="include-vega" name="include-vega" {% if vega %}checked{% endif %}>
            Include vega chart
        </label>
        <figure><div id="vega-editor" class="code-editor language-json">{{ vega }}</div></figure>
    </details>
    <div>
        <label for="file-name">
            <input type="text" id="file-name" name="file-name" placeholder="{{ file }}" value="{{ file }}">
            Query file name
        </label>
    </div>
    <div
        role="button"
        hx-post="{{ url_for('execute_route', db=db) }}"
        hx-vals="js:{data: query_format()}"
        hx-trigger="click"
        hx-target="#query-result"
        hx-swap="innerHTML"
    >
        Trigger
    </div>
    <div
        role="button"
        class="secondary"
        hx-post="{{ url_for('save_route', db=db) }}"
        hx-vals="js:{data: query_format()}"
        hx-trigger="click"
        hx-target="#save-error"
        hx-swap="innerHTML"
    >
        Save query
    </div>
    <div id="save-error"></div>
    <h2>Result</h2>
    <div id="query-result">
        <p class="htmx-indicator" aria-busy="true">Running query...</p>
    </div>
    <script type="module">
    {% include 'js/make_code_editor.js' %}
    </script>
{% endblock %}
